:root {
    /*--main-bg-color: coral;*/
    /*--main-txt-color: blue;*/
    /*--main-padding: 15px;*/

    --cMainBlue: #3A5675;
    --cMainBlueLight: #0081C3;
    --cMainBlueLighter: #EAEEF1;
    --cMainGrayLight: #CCC;
    --cMainGray: #999;
    --cAltGray: #5D5D5D;

    --fMain: 'Montserrat', 'Helvetica', 'Arial', san-serif;
    --fSecondary: 'Cocogoose', 'Helvetica', 'Arial', san-serif;
}

body {
    font-family: var(--fMain);
    font-size: 14px;
    color: var(--cMainBlue);
}

header {
    padding-top: 38px;
    position: relative;
}

footer {
    padding: 68px 0 58px;
}

h3 {
    font-family: var(--fSecondary);
}

h4 {
    font-family: var(--fSecondary);
    font-weight: 400;
    font-size: 24px;
    color: var(--cMainBlueLight);
}

p strong {
    font-size: 18px;
    font-weight: 700;
}

#logo {

}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    display: inline-block;
}

header > div {
    position: absolute;
    width: 100%;
}

.top-links-container {
    text-align: right;
}

.top-links-container .icon-key,
.top-links-container .icon-key:hover {
    background: transparent url("../img/icon-key.png") center left 14px no-repeat;
    padding: 11px 16px 11px 55px;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    text-transform: uppercase;
    border: 1px solid var(--cMainBlueLight);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    color: var(--cMainBlue);
    font-family: var(--fMain);
    padding: 11px 16px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn-link.btn-filled {
    background: var(--cMainBlueLight);
    color: white;
    letter-spacing: 4px;
}

.no-border {
    border: none !important;
}

span.big {
    font-size: 43px;
}

::-webkit-input-placeholder {
    color: var(--cMainGray) !important;
    font-family: var(--fMain);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

::-moz-placeholder {
    color: var(--cMainGray) !important;
    font-family: var(--fMain);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

::-ms-placeholder {
    color: var(--cMainGray) !important;
    font-family: var(--fMain);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

::placeholder {
    color: var(--cMainGray) !important;
    font-family: var(--fMain);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Sections */

.welcome.section {
    background: transparent url("../img/bg-header.jpg") top center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 362px;
    padding-bottom: 114px;
}

.welcome.section p {
    font-size: 17px;
    font-family: var(--fSecondary);
}

.welcome.section p a {
    font-size: 15px;
}

.process.section {
    padding-top: 120px;
    padding-bottom: 108px;
}

.process.section .process-box {
    text-align: center;
}

.process.section .process-box + .process-box {
    background: transparent url("../img/icon-arrow-right.png") left 35% no-repeat;
}

.process.section .process-box .image-container {
}

.process.section .process-box h3 {
    font-size: 21px;
    padding: 13px 0 2px;
}

.process.section .process-box p {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 84px;
}

.reasons.section {
    background: var(--cMainBlueLighter);
    padding: 84px 0 66px;
}

.reasons.section + .reasons.section {
    background: white;
}

.reasons.section .section-heading {
    text-align: center;
    margin-bottom: 68px;
}

.reasons.section .reasons-content {
}

.reasons.section .reasons-content h4 {
    background: transparent url("../img/bg-heading-coral.png") top left no-repeat;
    padding: 28px 0 0;
    margin: 15px 0 48px;
}

.reasons.section .reasons-content p + P {
    margin-top: 32px;
}

.form-appointment.section {
    background: var(--cMainBlueLight);
    padding: 68px 0;
}

.form-appointment.section form {
    background: white;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    /*-webkit-box-shadow:;*/
    /*-moz-box-shadow:;*/
    box-shadow: -10px 4px 60px 0 rgba(30, 30, 30, 0.70);
    padding: 45px 0 22px;
}

.form-appointment.section h3 {
    letter-spacing: 5px;
    text-align: center;
}

.form-appointment.section p {
    text-align: center;
    color: var(--cMainGray);
    margin: 18px 0 24px;
}

.form-appointment.section form input[type="text"] {
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid var(--cMainGrayLight);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: var(--cMainGray);
    padding-bottom: 0;
}

.form-appointment.section form .form-group {
}

.form-appointment.section form .form-group + .form-group {
    margin-top: 24px;
}

.form-appointment.section form input[type="submit"] {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 8px 16px;
}

.form-appointment.section form textarea {
    border: 1px solid var(--cMainGrayLight);
    resize: none;
    height: 100px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: var(--cMainGray);
}

.form-appointment.section form label {
    color: var(--cMainGray);
    font-family: var(--fMain);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1px;
}

footer .footer-about {
}

footer .footer-about .footer-logo {
    margin-bottom: 36px;
}

footer .footer-about p {
    font-size: 12px;
    padding-right: 30px;
}

footer .footer-contact {
}

footer .footer-contact h3 {
    margin-bottom: 42px;
}

footer .footer-social {
}

footer .footer-social h3 {
    margin-bottom: 30px;
}

footer .footer-social .social-links {
}

footer .footer-social .social-links a {
    text-decoration: none;
}

footer .footer-social .social-links a + a {
    margin-left: 25px;
}

footer .footer-social .social-links a img {
}

footer .rights {
    color: var(--cAltGray);
    font-size: 12px;
    font-weight: 300;
    padding-top: 58px;
}